html,body {
	height: 100%
}

html {
	overflow-y: auto
}

#wrapper {
	position: relative;
	_position:;
	min-height: 100%
}

#content {
	padding-bottom: 100px;
	text-align: center
}

#ftCon {
	height: 100px;
	position: absolute;
	bottom: 44px;
	text-align: center;
	width: 100%;
	margin: 0 auto;
	z-index: 0;
	overflow: hidden
}

#ftConw {
	width: 720px;
	margin: 0 auto;
	display:none;
}

body {
	font: 12px arial;
	text-align:;
	background: #fff
}

body,p,form,ul,li {
	margin: 0;
	padding: 0;
	list-style: none
}

body,form,#fm {
	position: relative
}

td {
	text-align: left
}

img {
	border: 0
}

a {
	color: #00c
}

a:active {
	color: #f60
}

.bg {
	background-image:
		url(images/icons_db1b0e67.png);
	background-repeat: no-repeat;
	_background-image:
		url(images/icons_190dda05.gif)
}


#u {
	color: #999;
	padding: 4px 10px 5px 0;
	text-align: right
}

#u a {
	margin: 0 5px
}

#u .reg {
	margin: 0
}

#m {
	width: 720px;
	margin: 0 auto
}

#nv a,#nv b,.btn,#lk {
	font-size: 14px
}

#fm {
	padding-left: 110px;
	text-align: left;
	z-index: 1
}

input {
	border: 0;
	padding: 0
}

#nv {
	height: 19px;
	font-size: 16px;
	margin: 0 0 4px;
	text-align: left;
	text-indent: 137px
}

.s_ipt_wr {
	width: 418px;
	height: 30px;
	display: inline-block;
	margin-right: 5px;
	background-position: 0 -288px;
	border: 1px solid #b6b6b6;
	border-color: #9a9a9a #cdcdcd #cdcdcd #9a9a9a;
	vertical-align: top
}

.s_ipt {
	width: 405px;
	height: 22px;
	font: 16px/22px arial;
	margin: 5px 0 0 7px;
	background: #fff;
	outline: 0;
	-webkit-appearance: none
}

.s_btn {
	width: 95px;
	height: 32px;
	padding-top: 2px\9;
	font-size: 14px;
	background-color: #ddd;
	background-position: 0 -240px;
	cursor: pointer
}

.s_btn_h {
	background-position: -240px -240px
}

.s_btn_wr {
	width: 97px;
	height: 34px;
	display: inline-block;
	background-position: -120px -240px;
	*position: relative;
	z-index: 0;
	vertical-align: top
}

#lg img{vertical-align:top;margin-bottom:3px}

#lk {
	margin: 33px 0
}

#lk span {
	font: 14px "ו"
}

#lm {
	height: 60px
}

#lh {
	margin: 16px 0 5px;
	word-spacing: 3px
}

.tools {
	position: absolute;
	top: -4px;
	*top: 10px;
	right: 7px
}

#mHolder {
	width: 62px;
	position: relative;
	z-index: 296;
	display: none
}


#cp,#cp a {
	color: #666
}

#seth {
	display: none;
	behavior: url(#default#homepage)
}

#setf {
	display: none
}

#sekj {
	margin-left: 14px
}
#search{
	text-align:center;
}